[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"

[dev-packages]
pytest = "*"
sphinx = "*"
build = "*"
twine = "*"
pytest-html = "*"
vermin = "*"
pylint = "*"

[requires]
python_version = "3.10"

[scripts]
pylint = "pylint sabrmetrics/ --ignore=sabrmetrics/tests/"
pytest = "pytest -vvv sabrmetrics/tests/"
pytest-html = "pytest -vvv sabrmetrics/tests/ --html=\"report.html\" --self-contained-html"
vermin = "vermin -vvv sabrmetrics/"
